<nav id="navbar" class="navbar navbar-light bg-light">
    <form class="form-inline">
        <h5 id="logo">Logo</h5>
        &nbsp;&nbsp;&nbsp;
        <input class="form-control mr-sm-2" type="search" placeholder="Busqueda">
        <button class="btn btn-outline-primary" type="submit">Buscar</button>
    </form>
</nav>
<div class="row">
    <div class="col-6 col-sm-3">
        <div id="content-left">
            <div id="content-left-elements">
                <h5>Marca</h5>
                    <!--Listar Marcas-->
                    <a href="">Dodge</a><br>
                    <a href="">Lamborghini</a><br>
                    <a href="">Ford Motor Company</a><br>
                    <a href="">Porsche</a><br>
                    <a href="">Chevrolet</a><br>
                    <a href="">Alfa Romeo</a><br>
                    <a href="">Jaguar Cars</a><br>
                    <a href="">Mercedes-Benz</a><br>
                    <a href="">Cadillac</a><br>
                    <a href="">Maserati</a><br><br>
                <h5>Modelo</h5>
                    <!--Listar Modelos-->
                    <a href="">Lamborghini Urraco</a><br>
                    <a href="">Dodge Dart</a><br>
                    <a href="">Ford Bronco</a><br>
                    <a href="">Porsche 914</a><br>
                    <a href="">Chevrolet Vega</a><br>
                    <a href="">Alfa Romeo Giulia</a><br>
                    <a href="">Jaguar XJ6</a><br>
                    <a href="">Mercedes-Benz R107</a><br>
                    <a href="">Cadillac Sixty Special</a><br>
                    <a href="">Maserati Bora</a><br><br>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-9">
        <div id="content-right">
            <div class="row">
                <div class="col-6 col-sm-3">
                    <img id="picture" src="http://res.cloudinary.com/carros-storage/image/upload/v1604633301/Ferrari/Ferrari%20288%20GTO/DF-00254.jpg">
                </div>
                <div id="descripcion" class="col-6 col-sm-7">
                    <h5 id="nombre-auto">Ferrari 288 GTO</h5>
                    <p>AUTO ECONOMICO MANUAL, KM 54000, 3 Puertas, 4 Cambios. Velocidad Maxima de 160 KM/H. Tipo de Carroceria Jeep</p>
                </div>
                <div>
                    $70,200<br>
                    5000 kms<br>
                </div>
            </div>
        </div>
        <br>
        <div>
            <div class="row">
                <div class="col-6 col-sm-3">
                    <img id="picture" src="http://res.cloudinary.com/carros-storage/image/upload/v1604631535/Porsche/Porsche%20944/DF-00068.jpg">
                </div>
                <div id="descripcion" class="col-6 col-sm-7">
                    <h5 id="nombre-auto">Porsche 944</h5>
                    <p>AUTO DEPORTIVO ICONICO DE SU FECHA. CV 385, GASOLINA. 2 PUERTAS. Aceleración de 0 a 100 km/h en 5,7 segundos</p>
                </div>
                <div>
                    $59,500<br>
                    75000 kms<br>
                </div>
            </div>
        </div>
        <br>
        <div>
            <div class="row">
                <div class="col-6 col-sm-3">
                    <img id="picture" src="http://res.cloudinary.com/carros-storage/image/upload/v1604633491/BMW/E23/DF-00583.jpg">
                </div>
                <div id="descripcion" class="col-6 col-sm-7">
                    <h5 id="nombre-auto">BMW E23</h5>
                    <p>AUTO MANUAL DE FABRICACION ITALIANA, KM 45000, GASOLINA. CAMBIO MANUAL A 5 VELOCIDADES. Consumo mixto : 20.7 L/100 - sportivo : 23.6 L/100</p>
                </div>
                <div>
                    $67,400<br>
                    200000 kms<br>
                </div>
            </div>
        </div>
        <br>
        <div>
            <div class="row">
                <div class="col-6 col-sm-3">
                    <img id="picture" src="http://res.cloudinary.com/carros-storage/image/upload/v1604633491/Audi/Sport%20quattro/DF-00538.jpg">
                </div>
                <div id="descripcion" class="col-6 col-sm-7">
                    <h5 id="nombre-auto">Audi Sport Quattro</h5>
                    <p>AUTO BIEN CONSERVADO, AUTOMATICA, KM 64000, GASOLINA. Fabricación Estadounidense, Neumáticos 225/45, Potencia de 160 HP a 5,500 rpm. La Bateria tiene solo 1 mes de uso</p>
                </div>
                <div>
                    $59,500<br>
                    75000 kms<br>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>  